/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-dark: #000000;
  --clr-light: #ffffff;
  --clr-accent: #E6C744;
  --clr-accent-2: #c2c8DA;
  --clr-accent-light: #D0D6F9;
  --clr-accent-dark: #383B4B;
  --clr-accent-dark-2: #151515;


  /* font-sizes */
  --fs-1000: 6.975625rem;
  --fs-900: 6rem;
  --fs-800: 3.4375rem;
  --fs-700: 3rem;
  --fs-600: 2.5rem;
  --fs-500: 2.25rem;
  --fs-400: 2rem;
  --fs-300: 1.74375rem;
  --fs-200: 1.5rem;
  --fs-100: 1rem;



  /* font-families */
  --ff-poppins-black: "Poppins", sans-serif;
  --ff-poppins-medium: "Poppins",
    sans-serif;
  --ff-poppins-regular: "Poppins",
    sans-serif;
  --fw-style-black: 900;
  --fw-style-medium: 500;
  --fw-style-regular: 400;


}

/* ------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;

}

/* ------------------- */
/* Global styles */
/* ------------------- */

/* Reset Margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
picture,
figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: var(--fw-style-regular);
}

body {
  font-family: var(--ff-poppins-regular);
  font-size: var(--fs-400);
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
  line-height: 1.5;
  min-height: 100vh;
  font-weight: 400;
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;


}

/* Make images Easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove animations for people who don't want it by using media query */

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}