/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-dark: #000000;
  --clr-light: #ffffff;
  --clr-accent: #E6C744;
  --clr-accent-2: #c2c8DA;
  --clr-accent-light: #D0D6F9;
  --clr-accent-dark: #383B4B;
  --clr-accent-dark-2: #151515;


  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-poppins-black: "Poppins", sans-serif;
  --ff-poppins-medium: "Poppins",
    sans-serif;
  --ff-poppins-regular: "Poppins",
    sans-serif;
  --fw-style-black: 900;
  --fw-style-medium: 500;
  --fw-style-regular: 400;


}

h1 {
  font-family: var(--ff-poppins-black);
  font-size: var(--fs-800);
  font-weight: var(--fw-style-black);
  color: var(--clr-accent);
  text-align: center;
  text-transform: uppercase;
}